<div>
  <br>
  <br>
  <h1 style="padding-left: 5rem;"><span>
    {{"Knowledgebase Screwdriver"}}
  </span></h1>
  <button mat-raised-button float-left >Back</button>
  <br>
  <mat-divider inset></mat-divider>
  <br>
  <br>
  <div class="div1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>INFO</mat-card-title>
        <div mat-card-avatar class="example-header-image"></div>
      </mat-card-header>
      <br>
      <mat-divider inset></mat-divider>
      <br>
      <mat-card-content>
        <div >
          <span>Generic text about a screwdriver</span>
            <br>
            ​
            
            </div>
        
      </mat-card-content>
    </mat-card>
  </div>
</div>

