.buttonSizeMenu{
    height: 50px;
    width: 220px;
    font-size: x-large;
    text-align: center;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
    color: rgb(1,72,114);
  }

  .buttonSize{
    height: 50px;
    width: 200px;
    text-align: center;
    display: block;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

.buttonPrimary{
  background-color: rgb(1,72,114);
  color: white;
} 